In [1]:
"""
1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()
"""
def my_reduce(function, sequence,initial=None):
    result = sequence[0]
    for item in sequence[1:]:
        result = function(result, item)
    return result

In [2]:
list1 = [1,2,3,4,5]
nm = my_reduce(lambda x,y:x+y, list1)
print(nm)

15

In [3]:
"""
 1.2Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()
"""
def my_filter(anyfunc, sequence):
    result = []
    for item in sequence:
      if anyfunc(item):
       result.append(item)
    return result

In [4]:
list1 = [1,22,5,3,4,55,65]
vv = my_filter(lambda x:x<5,list1)
print(vv)

[1, 3, 4]

In [ ]:
#2. Implement List comprehensions to produce the following lists.

In [5]:
input_list = ['x','y','z']
result = [ item*num for item in input_list for num in range(1,5)  ]
print(result)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [6]:
input_list = ['x','y','z']
result = [ item*num for num in range(1,5) for item in input_list  ]
print(result)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [10]:
input_list=[2,3,4]
input_list2=[2,3,4,5]
result=[[x+n] for x in input_list for n in range(0,3)]
result2=[[x+n for n in range(0,4)] for x in input_list2 ]
print(result,result2)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [12]:
input_list=[2,3,4,5]
result=[[x+n for n in range(0,4)] for x in input_list ]
print(result)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [13]:
input_list=[1,2,3]
result = [ (b,a) for a in input_list for b in input_list]
print(result)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]